<%- include('partials/header.ejs', { user }) %>

<h4 class="d-flex justify-content-center" class="col-8">Welcome to ACvillagercritic where you can view all the villagers from animals crossing and comment on villagers.</h2>
<h4 class="d-flex justify-content-center">Choose actions above</h4>


<%- include('partials/footer.ejs') %>