<%- include('../partials/header', { user }) %>

<h1><%= villager.name['name-USen'] %></h1>

<img src="https://acnhapi.com/v1a/image/villagers/<%= villager.id %>"/>

<%- include('../partials/footer') %>