<%- include('../partials/header.ejs', { user }) %> 


<div class="container">
    <h3 class="row justify-content-center">Login to your account</h3>
    <div class="row justify-content-center">
        <div class="col-4">
            <% if (message) { %>
                <p class="row justify-content-center"><%= message %></p>
            <% } %>
            
            <form class="row justify-content-center" action="/users/login" method="POST">
                <label form="email">Email:</label>
                <input type="email" name="email" id="email"/>
                
                <label for="password">Password:</label>
                <input type="password" name="password" id="password"/>
                
                <button class="btn btn-primary">Login</button>
            </form>

        </div>

    </div>

</div>



<%- include('../partials/footer.ejs') %> 