<%- include('../partials/header', { user }) %> 

<h3>Hello again, <%= user.email %> thanks for logging in to the app!</h3>

<a href="profile/villagers">Favorite Villagers</a>


<% include('../partials/footer') %>