<%- include('../partials/header', { user }) %> 

<h3>Hello again, <%= user.email %> thanks for logging in to the app!</h3>

<p>Here are your favorited villagers</p>

<% include('../partials/footer') %>