<%- include('../partials/header', { user }) %> 

<h3 class="d-flex justify-content-center">Hello again, <%= user.email %> thanks for logging in to the app!</h3>

<p class="d-flex justify-content-center">To see all your favorite villagers click <a href="profile/villagers">here</a>


<% include('../partials/footer') %>