<%- include('../partials/header', { user }) %> 

<h3>Hello again, <%= user.email %> thanks for logging in to the app!</h3>

<p>To see all your favorite villagers click <a href="profile/villagers">here</a>


<% include('../partials/footer') %>